@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}

.aboutUS {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &__main-animation {
    position: absolute;
    top: 160px;
    z-index: -1;
    width: 95%;
    height: 420px;
    background: linear-gradient(90deg, rgba(41, 37, 244, 0.8) 0%, rgba(227, 58, 255, 0.8) 26.04%, rgba(84, 4, 255, 0.8) 50.52%, rgba(255, 37, 89, 0.8) 75.52%, rgba(97, 0, 255, 0.8) 100%);
    filter: blur(114.5px);
    transform: rotate(10.21deg);
    animation: pulse 2500ms infinite;
  }

  &__button {
    position: relative;
    cursor: pointer;
    margin-top: 90px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.15em;
    width: 262px;
    height: 66px;
    background: rgba(255, 153, 0, 0.04);
    color: #FF9900;
    border: 1px solid #FF9900;
    box-shadow: 0 9px 27px 1px rgba(255, 153, 0, 0.22);
    border-radius: 10px;
  }

  &__button::after {
    content:"";
    left: -6px;
    top: -6px;
    position: absolute;
    border: 1px solid #FF9900;
    border-radius: 10px;
    width: 260px;
    height: 64px;
    transition: 0.3s all;
  }

  &__button:hover::after {
    transition: 0.3s all;
    left: 0;
    top: 0;
  }

  &__line {
    max-width: 100%;
    top: 615px;
    position: absolute;
    z-index: -1;
  }

  &__dots {
    margin-top: 80px;
  }

  &__text {
    margin-right: 10.546875vw;
    margin-left: 10.546875vw;
    margin-top: 230px;
    display: flex;
    justify-content: space-between;
  }

  &__text-title {
    width: 45%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__text-description {
    width: 45%;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
  }
  &__ball-animation {
    position: absolute;
    top: 1318px;
    left: -190px;
    z-index: -1;
    width: 529px;
    height: 536px;
    background: #DF34FB;
    filter: blur(283px);
    animation: pulse 2500ms infinite;
  }

}