@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}

.our-approach {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 216px;
  margin-right: 10.546875vw;
  margin-left: 10.546875vw;

  &__title {
    width: 100%;
    padding-bottom: 74px;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 68px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
  }

  &__ball-animation {
    position: absolute;
    right: -176px;
    z-index: -1;
    width: 392px;
    height: 470px;
    background: #4900BF;
    filter: blur(211px);
    transform: rotate(45deg);
    animation: pulse 2500ms infinite;
  }

  &__ball-animation2 {
    position: absolute;
    width: 600px;
    height: 707px;
    left: -403px;
    top: 2376px;
    background: #0224D6;
    filter: blur(343px);
    transform: rotate(45deg);
    animation: pulse 2500ms infinite;
  }

  &__step-container {
    margin-top: 68px;
    span {
      width: 100%;
      display: flex;
      align-items: center;
    }

    &__title {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 4.557291666666667vw;
      padding-left: 4.557291666666667vw;
      height: 138px;
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 123.02%;
      letter-spacing: 0.2em;
      color: #FFFFFF;
      border: 2px solid #FF9900;
      box-shadow: 0 8px 26px 5px rgba(255, 199, 0, 0.18);
      border-radius: 10px;
    }
    &__dots {
      width: 20%;
    }
    &__description {
      margin-top: 34px;
      width: 80%;
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.03em;
      color: #FFFFFF;
    }
  }
  .aboutUS__dots {
    margin-top: 142px;
    margin-right: auto;
    margin-left: auto;
  }
}

