@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:wght@300;700&family=Mulish:wght@400;500&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {

    background: rgba(12, 12, 12, 0.99);
}